*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0 auto;

}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn--show-modal{
  background-color: #ec6c6c;
  color: #333;
  padding: 1rem 2rem;
  border: none;
  border-radius: 40px;
  font-size: 2rem;
  cursor: pointer;
  box-shadow:inset 0 0 20px rgba(0, 0, 0);
}
.modal{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(245, 243, 243, 0.8);
  height: 400px;
  width: 600px;
  margin: 0 auto;
}

h2{
  font-size: 4rem;
  line-height: 1.5px;
  
}
.overlay{
  position: absolute;
  top: 0;
  background-color: rgba(171, 140, 140, 0.8);;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.btn--close-modal{
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background:none;
}

 .hidden{
  display: none;
  opacity: 0;
} 