$primary-color: #222;
$text-color: #eee;
$accent-color: #60b347;
$button-color: #eee;
$button-hover: #ccc;
$number-background: #eee;
$number-text: #333;
$font-family: 'Press Start 2P', cursive, sans-serif;